*{
    margin: 0;
    padding: 0;
}

:root{
    --color-white: #ffffff;
    --color-background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
    --box-shadow1: 0 3px 15px rgba(0,0,0,.3) ;
    --box-shadow2: 0 3px 15px rgba(0,0,0,1) ;
    --br-sm-2: 14px
}


body{
    background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    scroll-behavior:smooth;
    flex-flow: column;
    display: flex;
}

.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.lead{
    font-size: 1.5rem;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 25px;
    background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
}
 .navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

 .navbar ul li{
    margin: 0 1rem;
    padding: var(--box-shadow2)
}
 .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar ul li a:hover {
    color: skyblue;
}

.About{
    top: 1%;
    left: -25%;
    opacity: 0;
    transition: opacity 650ms ease-in;
}

.Appear{
    opacity: 1;
}
// .textcontainer{
//     width: 300rem;
//     height: 50rem;
// }

.columnMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: aliceblue;
    flex-grow: 1;
}
.rowMain{
    display: flex;
    height: 30%;
    flex-direction: rwo;
    justify-content: center;

}

.SuperRight{
    flex: 2;
    align-items: center;
    display: flex;
    //background-color: rgb(255, 127, 127);
    flex-grow:  6;
    padding: 0vh;

}
.Left{
    flex: 1;
    display: flex;
    flex-grow: 4;
    //background-color: darkslategray;
}

.Right{
    flex: 2;
    display: flex;
    flex-grow: 4;
    overflow-wrap: break-word;
    //padding-top: 3vh;
    //background-color: darkslategray;
}

.SuperLeft{
    flex: 1;
    align-items: center;
    display: flex;
    // background-color: rgb(255, 127, 127);
    flex-grow:  6;
    padding: 2%;
    padding-bottom: 2%;
//     &:hover {
//         opacity: 100%;
//         transition: 400ms,;
//         transition: ease-in-out;
//     }
}



.columnContact{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    h1{
        left: 10%;
    }

}
.HeaderContent{
    display: flex;
    height: 20%;
    width: 100%;

}


.ContactContentRow{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
}
.temp{
    flex-direction: column;
    width: 33.333%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    &:hover{
        color:skyblue;
    }
    .fa-linkedin{
        position: relative;
         left: 35%;
         top: 5rem;
      
    }.fa-envelope{
        position: relative;
        left: 35%;
        top: 5rem;
    }.fa-github{
        position: relative;
        left: 35%;
        top: 5rem;
    }
    a, a:hover, a:visited, a:active {
        color: inherit;
        text-decoration: none;
       }

}
.contactinfo{
    position: relative;
    top: 7rem;     
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}
section#home{
    height: 100%;
}
section#contact{
height: 75%;
}
section#about{
    height: 100%;
    }
section h1{
    font-size: 5rem;
    position: relative;
    bottom: 1rem;
}
section p{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

section#home {
 p{
    position: relative;
    top: 1px;
 }
}

section#about {

    display: flex;
    // h1{
    //     font-size: 3.5rem;
    //     position: relative;
    //     top: 1%;
    //     left: -30%;
    // }

}





section#contact {
     
}



.planet {
    //opacity: 80%;
    z-index: -1;
    display: block;
    width: 425px;
    height: 425px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: #fcc96b;
    background: linear-gradient(
      180deg,
      #fcc96b 0%,
      #fcc96b 15%,
      #f7ae01 15%,
      #f7ae01 19%,
      #fcc96b 19%,
      #fcc96b 22%,
      #f7ae01 22%,
      #f7ae01 28%,
      #fcc96b 28%,
      #fcc96b 31%,
      #fcc96b 33%,
      #fcc96b 36%,
      #f7ae01 36%,
      #f7ae01 48%,
      #fcc96b 48%,
      #fcc96b 55%,
      #f7ae01 55%,
      #f7ae01 66%,
      #fcc96b 66%,
      #fcc96b 70%,
      #f7ae01 70%,
      #f7ae01 73%,
      #fcc96b 73%,
      #fcc96b 82%,
      #f7ae01 82%,
      #c7ba9d 86%,
      #fcc96b 86%
    );
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
      inset 8px -4px 6px rgba(199, 128, 0, 0.5),
      inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
      0 0 100px #ffffff59;
    transform: rotateZ(-15deg);
  }
  
  .planet::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #e1a519;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #c18620;
    animation: rings1 4.8s infinite linear;
  }
  
  .planet::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #d48b0c;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b99309;
    animation: rings2 4.8s infinite linear;
  }
  
  @keyframes rings1 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }
  
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
  }
  
  @keyframes rings2 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }
  
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
  }

 



















/*un used--independent components*/
/*.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-white);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
        font-family: 'Poppins', sans-serif;
    }
    .btn-icon{
        background-color: var(--color-background);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-white);
            transform: translateX(0);
        }
    }

}*/