*{
    margin: 0;
    padding: 0;
}

:root{
    --color-white: #ffffff;
    --color-background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
    --box-shadow1: 0 3px 15px rgba(0,0,0,.3) ;
    --box-shadow2: 0 3px 15px rgba(0,0,0,1) ;
    --br-sm-2: 14px
}


body{
    background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    scroll-behavior:smooth;
    flex-flow: column;
    display: flex;
}

.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.lead{
    font-size: 1.5rem;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 25px;
    background: linear-gradient(307deg, rgb(236, 12, 5) 0%, rgb(241, 170, 102) 100%);
}
 .navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

 .navbar ul li{
    margin: 0 1rem;
    padding: var(--box-shadow2)
}
 .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
.navbar ul li a:hover {
    color: skyblue;
}

.About{
    opacity: 0;
    transition: opacity 650ms ease-in;
}

.Appear{
    opacity: 1;
}
.textcontainer{
    width: 30rem;
    height: 50rem;
}

.columnMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: aliceblue;
    flex-grow: 1;
}
.rowMain{
    display: flex;
    //height: 1000rem;
    flex-direction: rwo;
    justify-content: center;

}

.SuperRight{
    flex: 2;
    align-items: center;
    display: flex;
    //background-color: rgb(255, 127, 127);
    flex-grow:  6;
    padding: 0vh;

}
.Left{
    flex: 1;
    display: flex;
    flex-grow: 4;
    //background-color: darkslategray;
}

.Right{
    flex: 2;
    display: flex;
    flex-grow: 4;
    overflow-wrap: break-word;
    padding-top: 3vh;
    // background-color: darkslategray;
}

.SuperLeft{
    flex: 1;
    align-items: center;
    display: flex;
    // background-color: rgb(255, 127, 127);
    flex-grow:  6;
    padding: 10vh;
    padding-bottom: 9vh;
//     &:hover {
//         opacity: 100%;
//         transition: 400ms,;
//         transition: ease-in-out;
//     }
}



.columnContact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;


}
.HeaderContent{
    display: flex;
    height: 20vh;
    width: 100%;

}
.ContactContentRow{
    display: flex;
    height: 75vh;
    width: 100%;

    padding-bottom: 10vh;
}
.temp{
    flex-direction: column;
    width: 33.333%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    &:hover{
        color:skyblue;
    }
    .fa-linkedin{
        position: relative;
        left: 7rem;
        top: 5rem;
    }.fa-envelope{
        position: relative;
        left: 7rem;
        top: 5rem;
    }.fa-github{
        position: relative;
        left: 7rem;
        top: 5rem;
    }

}
.contactinfo{
    position: relative;
    top: 7rem;     
    text-align: center;
    padding: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

section h1{
font-size: 5rem;
position: relative;
bottom: 1rem;
}
section p{
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

section#home {
 p{
    position: relative;
    top: 1px;
 }
}

section#about {

    display: flex;
    h1{
        font-size: 3.5rem;
        position: relative;
        top: -3vh;
        left: -30vw;
    }

}





section#contact {
     
}

























/*un used--independent components*/
/*.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-white);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
        font-family: 'Poppins', sans-serif;
    }
    .btn-icon{
        background-color: var(--color-background);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-white);
            transform: translateX(0);
        }
    }

}*/